.testimonial {
  & .description__container {
    display: flex;
    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
    }
  }
  & .paragraph {
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }

  & .list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);

    display: flex;
    flex-wrap: wrap;

    @media only screen and (max-width: $bp-large) {
      // flex-direction: column;
    }

    &__item {
      flex: 0 0 50%;
      margin-bottom: 0.7rem;
      &::before {
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: 0.7rem;

        //older browsers
        background-image: url("../img/chevron-thin-right.svg");
        background-size: cover;

        //Newer browsers
        @supports (-webkit-mask-image: url()) or (mask-image: url()) {
          background-color: var(--color-primary);
          mask-image: url("../img/chevron-thin-right.svg");
          mask-size: cover;
          -webkit-mask-image: url("../img/chevron-thin-right.svg");
          -webkit-mask-size: cover;
          background-image: none;
        }
      }
    }
  }

  & .recommend {
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);

    display: flex;
    align-items: center;

    &__count {
      display: flex;
      align-items: center;
      margin-right: auto;
    }
    &__photo {
      box-sizing: content-box;
      height: 4rem;
      width: 4rem;
      border-radius: var(--border-radius-circle);
      border: 3px solid var(--color-white);

      &:not(:last-child) {
        margin-right: -1.5rem;
      }
    }
  }

  & .review {
    background: var(--color-white);
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: $bp-medium) {
      padding: 2rem;
      margin-bottom: 3rem;
    }

    &__text {
      margin-bottom: 2rem;
      z-index: 10;
      position: relative;
    }
    &__user {
      margin-top: 2rem;
      display: flex;
      &-box {
        margin-right: auto;
      }
      &-name {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0.4rem;
      }
      &-date {
        font-size: 1rem;
        color: var(--color-grey-dark-3);
      }
    }
    &__photo {
      height: 4.5rem;
      width: 4.5rem;
      border-radius: var(--border-radius-circle);
      margin-right: 1.5rem;
    }

    &__rating {
      font-size: 2.2rem;
      color: var(--color-primary);
      font-weight: 400;
    }

    &::before {
      content: "\201C";
      position: absolute;
      top: -2.5rem;
      left: -1rem;
      line-height: 1;
      font-size: 20rem;
      color: var(--color-grey-light-2);
      font-family: sans-serif;
    }
  }

  & .cta {
    padding: 3.5rem 0;
    text-align: center;
    background-color: var(--color-white);
    margin: 2.5rem -4.5rem -4.5rem -4.5rem;
    @media only screen and (max-width: $bp-medium) {
      padding: 2.5rem 0;
    }

    &__book-now {
      font-size: 2rem;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 2.5rem;
    }

    & .btn {
      font-size: 1.5rem;
      font-weight: 300;
      text-transform: uppercase;
      border-radius: var(--border-radius-big);
      border: none;
      background-image: linear-gradient(
        to right,
        var(--color-primary-light),
        var(--color-primary-dark)
      );
      color: var(--color-white);
      position: relative;
      overflow: hidden;
      cursor: pointer;

      & > * {
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all 0.4s;
      }

      &__visible {
        padding: 1.5rem 7.5rem;
      }

      &__invisible {
        position: absolute;
        padding: 1.5rem 0;
        left: 0;
        top: -100%;
      }

      &:hover {
        background-image: linear-gradient(
          to left,
          var(--color-primary-light),
          var(--color-primary-dark)
        );

        & .btn__visible {
          transform: translateY(100%);
        }

        & .btn__invisible {
          top: 0;
        }
      }

      &:focus {
        outline: none;
        animation: pulsate 1s infinite;
      }
    }
  }
}
